@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<div class="image-container">
    <img src="https://images.unsplash.com/photo-1557079310-f6e639f0d069?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Renovatio Technology">
    <div class="text-overlay">
        <h1 class="display-4">Where Ideas Are Transformed Into Software</h1>
        <p>
            Renovatio is a studio that specializes in developing virtual reality (VR) and extended reality (XR) projects.
            Our focus is on creating high-quality visuals, incorporating artificial intelligence, designing user interfaces, and developing game logic.
            Our development process involves various stages, starting with a storyboard blueprint.
            We then translate visual ideas into code. Our team comprises designers, producers, artists, and quality analysts who work collaboratively to bring projects to life.
        </p>
    </div>
</div>
