@{
    ViewData["Title"] = "Home Page";
}


<section class="section">
    <div class="section-content">
        <div class="text">
            <h1>Welcome to Renovatio Technology</h1>
            <h2>VR Developer</h2>
            <p>
                Renovatio is a studio that specializes in developing virtual reality (VR) and extended reality (XR) projects
            </p>
        </div>
    </div>
    <div class="image">
        <img src="~/images/renovatio3d_renderIMG03.jpg" alt="Additional Image">
        
    </div>
</section>

<section class="sectionTwo">
    <div class="video">
        <!-- Vimeo Video Embed -->
        <iframe title="vimeo-player" src="https://player.vimeo.com/video/261417828?h=11e8ab6023" width="640" height="360" frameborder="0" allowfullscreen></iframe>
    </div>
</section>
