@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Footer";

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Renovatio is a studio that specializes in developing virtual reality (VR) and extended reality (XR) projects.</p>
            </div>
            <div class="col-md-4">
                <h5> Quick Links </h5>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/Home/AboutUs">About</a></li>
                    <li><a href="/Home/OurWork">Our Work</a></li>
                    <li><a href="/Contact">Contact</a></li>
                    <li><a href="/Home/ShopItem">Shop</a></li>
                </ul>
            </div>
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <p>Email: <a href="mailto:hello@renovatio.cloud">hello@renovatio.cloud</a></p>
                    <!-- <p>Phone: +123 456 7890</p> -->
                    <!-- <p>Address: 123 VR Street, Imaginary City</p> -->
                    <div class="social-media">
                        <a href="https://www.linkedin.com/company/renovatio-three-d/?viewAsMember=true" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://vimeo.com/renovatio3d" target="_blank"><i class="fab fa-vimeo"></i></a>
                        <a href="https://www.behance.net/renovatio3d" target="_blank"><i class="fab fa-behance"></i></a>
                        <a href="https://github.com/RenovatioTechnology?tab=repositories" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://www.last.fm/user/bluetimes/library" target="_blank"><i class="fab fa-lastfm"></i></a>

                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
            <br />
                <p>&copy; @DateTime.Now.Year Renovatio Technology. All rights reserved.</p>
                    <p> Website created by Jefferson Nah Jr at Renovatio Technology .</p>
            </div>
        </div>
    </div>
</footer>
}